.generale {
    

}


#testata {
    width: 100%;
    height: 135px;
    z-index: -1;
    background: url(Immagini/header1920.jpg) no-repeat center center;    
    background-size: cover; 
    overflow: hidden;
}

#testata h1 {
    margin: auto;
    padding-top: 8px;
    text-align: center;
    font-style: italic;
    font-family: "Bloody", sans-serif;
    font-size: 70px;
    overflow: hidden;
    color: #b30000;
    text-shadow: 0px 0px 10px #cc0000;
    font-weight: bold;
}

#testata p {
    margin: auto;
    text-align: center;
    font-style: italic;
    font-family: "Bloody", sans-serif;
    font-size: 25px;
    overflow: hidden;
    color: #990000;
    text-shadow: 0px 0px 5px #cc0000;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a, .bmenu {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .menu:hover .bmenu {
    background-color: #dacece;
    color: #e80000;
}

.navbar li.menu {
    display: inline-block;
}

.cont-menu {
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    width: 120px;
    padding: 0;
    margin: 0;    
    overflow: hidden;
}
.cont-menu li{
    float: left;
}
.cont-menu li a {
    color: black;
    padding: 14px 16px;
    margin-right: auto;
    margin-left: auto;
    width: 130px;    
    overflow: hidden;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.cont-menu a:hover {background-color: #f1f1f1}

.menu:hover .cont-menu {
    display: block;
    overflow: hidden;
    list-style-type: none;
}

nav ul.navbar li.resp {display: none;}


.sidelft {
    margin-top: 10px;
    height: 100%;
    width: auto;
}
ul.asidebar {
    list-style-type: none;
    width: 125px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
ul.asidebar li {
    float: left;
    width: 100%;
    margin: 5px;
    background-color: #ccc;
}

ul.asidebar li a {
    width: 70%;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.asidebar li a:hover {background-color: #555;}
ul.asidebar li.resp {display: none;}


@media screen and (max-width:1280px){
    #testata{
        width: 100%;
        height: 107px;
        z-index: -1;
        background: url(Immagini/header1920.jpg) no-repeat center center;    
        background-size: cover;
    }
    
    #testata h1 {
        margin: auto;
        padding-top: 6px;
        text-align: center;
        font-style: italic;
        font-family: "Bloody", sans-serif;
        font-size: 65px;
        overflow: hidden;
    }

    #testata p {
        margin: auto;
        text-align: center;
        font-style: italic;
        font-family: "Bloody", sans-serif;
        font-size: 20px;
        overflow: hidden;
    }
}


@media screen and (max-width:680px) {
    nav ul.navbar li:not(:first-child) {display: none;}
    nav ul.navbar li.resp {
        float: right;
        display: inline-block;
    }

}


/*la classe responsive viene creata, 
quando viene eseguita la funzione "funzres()" */


@media screen and (max-width:680px){
    #testata{
        width: 100%;
        height: 80px;
        z-index: -1;
        background: url(Immagini/header680.jpg) no-repeat center center;    
        background-size: cover;
    }
    #testata h1 {
        margin: auto;
        padding-top: 4px;
        text-align: center;
        font-style: italic;
        font-family: "Bloody", sans-serif;
        font-size: 50px;
        overflow: hidden;
    }

    #testata p {
        margin: auto;
        text-align: center;
        font-style: italic;
        font-family: "Bloody", sans-serif;
        font-size: 15px;
        overflow: hidden;
    }
    
    
    nav ul.navbar.responsive {position: relative;}
    nav ul.navbar.responsive li.resp {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav ul.navbar.responsive li {
        float: none;
        display: inline;
    }
    nav ul.navbar.responsive li a {
        display: block;
        text-align: left;
    }
    .cont-menu {
        display: none;
        position: absolute;
        background-color: #ccc;
        width: 100%;
        padding: 0;
        margin: 0;    
        overflow: hidden;
    }
    .cont-menu li a {
        color: black;
        padding: 14px 16px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;    
        overflow: hidden;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 12px;
    }
    li#carrello {
        float: left;
        width: 100%;
    }
}
.immag {
    height: 550px;
    margin: auto;
    box-shadow: 0px 0px 25px #333;
}

#slide {
    margin: auto;
    overflow: hidden;
    height: 550px;
    background-color: #7c858d;
}


#carrello {
    float: right;
}

#contenutouser {
    float: right;
    width: 70%;
    position: relative;
    margin-top: -300px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.container {
    width: 100%;
    overflow: hidden;
}
